*.py[cod]
__pycache__/
*~
\#*
.#*
*.log
.nobackup
/data
/build/
/dist/
/jmdictdb/__version__.py
/jmdictdb.egg-info/
/jmdictdb/parser.out
/tests/tmp/
/web/lib/config.ini
/web/lib/config-pvt.ini
/web/lib/jmdictdb.ini
/web/lib/jmdictdb-pvt.ini
/web/cgi/parser.out
/web/cgi/jmdictdb.wsgi
